# 全局生效，所有源文件
CompileFlags:
  CompilationDatabase: "bin-int"
  Add:
    - -If:/yxy/GameEngine/engin/include 
    - -If:/yxy/GameEngine/engin/vendor/spdlog/include


Diagnostics:
  UnusedIncludes: None  # None=完全禁用；Strict=默认严格检查