# 基础样式
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never

# 函数参数不打包，强制分行风格
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# 预处理指令缩进
IndentPPDirectives: AfterHash

# 枚举成员强制一行显示
AllowShortEnumsOnASingleLine: true
KeepEnumDefinitionsInOneLine: true


